<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>We have some lecture videos created by experts at <a href="https://www.brown.edu/academics/public-health/research/evidence-synthesis-in-health/ " >Brown Center for Evidence</a> Synthesis </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="videos " class="btn btn-primary btn-lg">Click Here to Checkout the Videos!</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
