<div class="row section topspace">

    <h2 class="section-title"><span>Curious about Systematic Reviews?</span></h2>

    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Watch the animation below to learn the basic steps of a systematic review. Then head to our courses to learn more.  
        </p>
        <center>
        <iframe src="https://player.vimeo.com/video/250716981" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen align="center" ></iframe>
        </center>
    </div>
        

</div> <!-- /section -->

